body {
  text-align: center;
  background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../public/WhatsApp\ Image\ 2024-07-10\ at\ 1.27.08\ AM.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

ul>li{
  list-style-type:none;
  margin: 10px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 400px;

}
.mydiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen  and (max-width:480px){
  ul>li{
    width: 250px;
  }
}